html {
    background: #333;
    color: #eee;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-decoration: none;
}

li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #69D2E7;
}

a:visited, a:active {
    color: #FA6900;
}

a:hover {
    text-decoration: underline;
}
